.body{
    margin: 0%;
    padding: 0%;
}
h2{
    font-size: 20px;
    font-family: sans-serif;
    color: black;
    margin: 1em;
    padding: 1em;
    margin-top: 0%;
}
.container{
   
    margin: 0%;
    padding: 0%;
}
.container header{
    background-color: blue;
    margin: 0%;
}
.container header h1{
    font-family: sans-serif;
    font-size: 50px;
    color: black;
    text-align: center;
    padding: 12px;
}
.menu {
    width: 100%;
    height: auto;
    min-height: 600px;
    background-color: beige;
}
.menu form {
    margin: 2em;
}

footer{
    width: 100;
    font-family: sans-serif;
    font-size: 12px;
    color: black;
    background-color: blue;
    text-align: center;
    padding: 2em;
}
.login-form{
    margin-left: 2em;
    padding: 1em;
}
.danger p{
    border-radius: 5%;
    background-color: red;
    color: black;
    width: 400px;

    /* margin-left: 10px; */
    margin-top: 10px;
    /* margin: auto; */
    text-align: center;
    font-family: sans-serif;
    font-size: 10px;
    padding: 5%;
}
.log {
    font-family: sans-serif;
    margin: 2em;
    padding: 1em;
    margin-top: 0%;
}
ul {
    margin-left: 3em;
}
li {
    line-height: 2em;
}
li a{
    font-family: sans-serif;
    text-decoration: none;
}